checklist.txt
news_channels/21stcenturywire.comhtml_page.txt
news_channels/369news.nethtml_page.txt
news_channels/911truth.orghtml_page.txt
news_channels/acallforanuprising.comhtml_page.txt
news_channels/additudemag.comhtml_page.txt
news_channels/aim4truth.orghtml_page.txt
news_channels/allianceforadvancedhealth.comhtml_page.txt
news_channels/altermedzentrum.comhtml_page.txt
news_channels/alternativenews.comhtml_page.txt
news_channels/althealthworks.comhtml_page.txt
news_channels/ama-assn.orghtml_page.txt
news_channels/americandigitalnews.comhtml_page.txt
news_channels/americanfreepress.nethtml_page.txt
news_channels/americanpolicy.orghtml_page.txt
news_channels/americasfrontlinedoctors.comhtml_page.txt
news_channels/amg-news.comhtml_page.txt
news_channels/anh-usa.orghtml_page.txt
news_channels/anonhq.comhtml_page.txt
news_channels/answersingenesis.orghtml_page.txt
news_channels/anyavien.comhtml_page.txt
news_channels/asia-pacificresearch.comhtml_page.txt
news_channels/assassinationscience.comhtml_page.txt
news_channels/autisticadvocacy.orghtml_page.txt
news_channels/awarenessact.comhtml_page.txt
news_channels/beholdisrael.orghtml_page.txt
news_channels/bestnewshere.comhtml_page.txt
news_channels/biggovernment.newshtml_page.txt
news_channels/biodefense.comhtml_page.txt
news_channels/biologos.orghtml_page.txt
news_channels/biospace.comhtml_page.txt
news_channels/brandnewtube.comhtml_page.txt
news_channels/brighteon.comhtml_page.txt
news_channels/cancer.orghtml_page.txt
news_channels/carbonbrief.orghtml_page.txt
news_channels/carm.orghtml_page.txt
news_channels/cfact.orghtml_page.txt
news_channels/childrenshealthdefense.orghtml_page.txt
news_channels/climateactiontracker.orghtml_page.txt
news_channels/climatechangedispatch.comhtml_page.txt
news_channels/climatefeedback.orghtml_page.txt
news_channels/cnnsofake.newshtml_page.txt
news_channels/consciouslifenews.comhtml_page.txt
news_channels/conspiracydailyupdate.comhtml_page.txt
news_channels/consumerwellness.orghtml_page.txt
news_channels/cosmicintelligenceagency.comhtml_page.txt
news_channels/cosmosmagazine.comhtml_page.txt
news_channels/creation.comhtml_page.txt
news_channels/creationwiki.orghtml_page.txt
news_channels/csglobe.comhtml_page.txt
news_channels/curiousmindmagazine.comhtml_page.txt
news_channels/dailyhealthpost.comhtml_page.txt
news_channels/dailyoccupation.comhtml_page.txt
news_channels/dailysceptic.orghtml_page.txt
news_channels/disabilityscoop.comhtml_page.txt
news_channels/discovermagazine.comhtml_page.txt
news_channels/doctors4covidethics.orghtml_page.txt
news_channels/earthpulse.comhtml_page.txt
news_channels/earthsky.orghtml_page.txt
news_channels/educate-yourself.orghtml_page.txt
news_channels/educateinspirechange.orghtml_page.txt
news_channels/electroverse.nethtml_page.txt
news_channels/eluxemagazine.comhtml_page.txt
news_channels/endtimeheadlines.orghtml_page.txt
news_channels/escapeallthesethings.comhtml_page.txt
news_channels/eurekalert.orghtml_page.txt
news_channels/europereloaded.comhtml_page.txt
news_channels/examine.comhtml_page.txt
news_channels/fabiosa.comhtml_page.txt
news_channels/faithit.comhtml_page.txt
news_channels/fas.orghtml_page.txt
news_channels/foodbabe.comhtml_page.txt
news_channels/foreverconscious.comhtml_page.txt
news_channels/freedomainradio.comhtml_page.txt
news_channels/friendsofscience.orghtml_page.txt
news_channels/futurism.comhtml_page.txt
news_channels/gaia.comhtml_page.txt
news_channels/getholistichealth.comhtml_page.txt
news_channels/gmowatch.comhtml_page.txt
news_channels/gmwatch.orghtml_page.txt
news_channels/govtslaves.comhtml_page.txt
news_channels/greenmedinfo.comhtml_page.txt
news_channels/healingfoodreference.comhtml_page.txt
news_channels/healio.comhtml_page.txt
news_channels/healthandmoneynews.wordpress.comhtml_page.txt
news_channels/healthdata.orghtml_page.txt
news_channels/healthfeedback.orghtml_page.txt
news_channels/healthimpactnews.comhtml_page.txt
news_channels/healthranger.comhtml_page.txt
news_channels/healthrangerreport.comhtml_page.txt
news_channels/healthyandnaturalworld.comhtml_page.txt
news_channels/healthyfoodhouse.comhtml_page.txt
news_channels/higherperspectives.comhtml_page.txt
news_channels/homevaccineeducationnetwork.comhtml_page.txt
news_channels/hsionline.comhtml_page.txt
news_channels/humansarefree.comhtml_page.txt
news_channels/icr.orghtml_page.txt
news_channels/ieee.orghtml_page.txt
news_channels/iheartintelligence.comhtml_page.txt
news_channels/illuminatiwatcher.comhtml_page.txt
news_channels/investmentwatchblog.comhtml_page.txt
news_channels/iowaclimate.orghtml_page.txt
news_channels/israel365news.comhtml_page.txt
news_channels/issues.orghtml_page.txt
news_channels/jedanews.comhtml_page.txt
news_channels/journal.frontiersin.orghtml_page.txt
news_channels/judithcurry.comhtml_page.txt
news_channels/larouchepac.comhtml_page.txt
news_channels/latitudes.orghtml_page.txt
news_channels/learntherisk.orghtml_page.txt
news_channels/leftcult.comhtml_page.txt
news_channels/lesmoutonsrebelles.comhtml_page.txt
news_channels/libertyplanets.comhtml_page.txt
news_channels/lifespa.comhtml_page.txt
news_channels/littlethings.comhtml_page.txt
news_channels/liveaction.orghtml_page.txt
news_channels/lung.orghtml_page.txt
news_channels/mediafactwatch.comhtml_page.txt
news_channels/mediaroots.orghtml_page.txt
news_channels/medicalcensorship.comhtml_page.txt
news_channels/medicalkidnap.comhtml_page.txt
news_channels/medicalmedium.comhtml_page.txt
news_channels/medicalxpress.comhtml_page.txt
news_channels/medpagetoday.comhtml_page.txt
news_channels/nationalfile.comhtml_page.txt
news_channels/naturalcures.comhtml_page.txt
news_channels/naturallysavvy.comhtml_page.txt
news_channels/naturalnewsradio.comhtml_page.txt
news_channels/naturalsociety.comhtml_page.txt
news_channels/needtoknow.newshtml_page.txt
news_channels/nejm.orghtml_page.txt
news_channels/neonnettle.comhtml_page.txt
news_channels/neurosciencenews.comhtml_page.txt
news_channels/newamericannews.comhtml_page.txt
news_channels/newatlas.comhtml_page.txt
news_channels/newsinsideout.comhtml_page.txt
news_channels/notrickszone.comhtml_page.txt
news_channels/nutritionfacts.orghtml_page.txt
news_channels/oceana.orghtml_page.txt
news_channels/online-updates.nethtml_page.txt
news_channels/organicconsumers.orghtml_page.txt
news_channels/organicfacts.nethtml_page.txt
news_channels/ourhealthguides.comhtml_page.txt
news_channels/oye.newshtml_page.txt
news_channels/pandemic.newshtml_page.txt
news_channels/patriots4truth.orghtml_page.txt
news_channels/pdmj.orghtml_page.txt
news_channels/phys.orghtml_page.txt
news_channels/physiciansforinformedconsent.orghtml_page.txt
news_channels/prepareforchange.nethtml_page.txt
news_channels/prevention.comhtml_page.txt
news_channels/principia-scientific.orghtml_page.txt
news_channels/psychcentral.comhtml_page.txt
news_channels/public.wmo.inthtml_page.txt
news_channels/realclimatescience.comhtml_page.txt
news_channels/redoubtnews.comhtml_page.txt
news_channels/redpillpodcasts.comhtml_page.txt
news_channels/resourcewatch.orghtml_page.txt
news_channels/responsibletechnology.orghtml_page.txt
news_channels/retractionwatch.comhtml_page.txt
news_channels/returntonow.nethtml_page.txt
news_channels/sanevax.orghtml_page.txt
news_channels/santeplusmag.comhtml_page.txt
news_channels/science.energy.govhtml_page.txt
news_channels/science.orghtml_page.txt
news_channels/scienceblogs.comhtml_page.txt
news_channels/sciencetrends.comhtml_page.txt
news_channels/sciencevibe.comhtml_page.txt
news_channels/scripps.ucsd.eduhtml_page.txt
news_channels/shoebat.comhtml_page.txt
news_channels/singularityhub.comhtml_page.txt
news_channels/sites.agu.orghtml_page.txt
news_channels/sitsshow.blogspot.comhtml_page.txt
news_channels/skepticalscience.comhtml_page.txt
news_channels/skeptoid.comhtml_page.txt
news_channels/space.newshtml_page.txt
news_channels/stream.orghtml_page.txt
news_channels/sustainablepulse.comhtml_page.txt
news_channels/swprs.orghtml_page.txt
news_channels/techxplore.comhtml_page.txt
news_channels/thefreethoughtproject.comhtml_page.txt
news_channels/thehealthyamerican.orghtml_page.txt
news_channels/theheartysoul.comhtml_page.txt
news_channels/thehighwire.comhtml_page.txt
news_channels/thelancet.comhtml_page.txt
news_channels/themindunleashed.orghtml_page.txt
news_channels/thepuristonline.comhtml_page.txt
news_channels/therundownlive.comhtml_page.txt
news_channels/thetruthaboutcancer.comhtml_page.txt
news_channels/thevaccinereaction.orghtml_page.txt
news_channels/thinkinghumanity.comhtml_page.txt
news_channels/thoughtcatalog.comhtml_page.txt
news_channels/thoughtcrimeradio.nethtml_page.txt
news_channels/thriveglobal.comhtml_page.txt
news_channels/trialsitenews.comhtml_page.txt
news_channels/truepundit.comhtml_page.txt
news_channels/understandrealitythroughscience.blogspot.comhtml_page.txt
news_channels/unenvironment.orghtml_page.txt
news_channels/usahitman.comhtml_page.txt
news_channels/usawatchdog.comhtml_page.txt
news_channels/vaccineimpact.comhtml_page.txt
news_channels/vaccinepapers.orghtml_page.txt
news_channels/vactruth.comhtml_page.txt
news_channels/vaxxter.comhtml_page.txt
news_channels/verywellfamily.comhtml_page.txt
news_channels/vigilantcitizen.comhtml_page.txt
news_channels/watchers.newshtml_page.txt
news_channels/wattsupwiththat.comhtml_page.txt
news_channels/wearechange.orghtml_page.txt
news_channels/web.randi.orghtml_page.txt
news_channels/westonaprice.orghtml_page.txt
news_channels/wikispooks.comhtml_page.txt
news_channels/worldcouncilforhealth.orghtml_page.txt
news_channels/worlddoctorsalliance.comhtml_page.txt
news_channels/worldlifestyle.comhtml_page.txt
news_channels/worldviewweekend.comhtml_page.txt
news_channels/www.aaas.orghtml_page.txt
news_channels/www.aap.orghtml_page.txt
news_channels/www.abovetopsecret.comhtml_page.txt
news_channels/www.activistpost.comhtml_page.txt
news_channels/www.ae911truth.orghtml_page.txt
news_channels/www.ageofautism.comhtml_page.txt
news_channels/www.aip.orghtml_page.txt
news_channels/www.airspacemag.comhtml_page.txt
news_channels/www.ajaonline.orghtml_page.txt
news_channels/www.amtvmedia.comhtml_page.txt
news_channels/www.ancient-code.comhtml_page.txt
news_channels/www.ancient-origins.nethtml_page.txt
news_channels/www.apa.orghtml_page.txt
news_channels/www.aps.orghtml_page.txt
news_channels/www.apsa.orghtml_page.txt
news_channels/www.archaeology.orghtml_page.txt
news_channels/www.astronomy.comhtml_page.txt
news_channels/www.australiannationalreview.comhtml_page.txt
news_channels/www.autismspeaks.orghtml_page.txt
news_channels/www.bio.orghtml_page.txt
news_channels/www.biomedcentral.comhtml_page.txt
news_channels/www.blacklistednews.comhtml_page.txt
news_channels/www.bmj.comhtml_page.txt
news_channels/www.britannica.comhtml_page.txt
news_channels/www.catholic.orghtml_page.txt
news_channels/www.cdc.govhtml_page.txt
news_channels/www.charismanews.comhtml_page.txt
news_channels/www.christianscience.comhtml_page.txt
news_channels/www.climatecentral.orghtml_page.txt
news_channels/www.climatedepot.comhtml_page.txt
news_channels/www.climatesciencewatch.orghtml_page.txt
news_channels/www.coasttocoastam.comhtml_page.txt
news_channels/www.cochrane.orghtml_page.txt
news_channels/www.collective-evolution.comhtml_page.txt
news_channels/www.consumerlab.comhtml_page.txt
news_channels/www.corbettreport.comhtml_page.txt
news_channels/www.dailygrail.comhtml_page.txt
news_channels/www.darkjournalist.comhtml_page.txt
news_channels/www.davidicke.comhtml_page.txt
news_channels/www.davidwolfe.comhtml_page.txt
news_channels/www.discovery.orghtml_page.txt
news_channels/www.doctoroz.comhtml_page.txt
news_channels/www.eutimes.nethtml_page.txt
news_channels/www.evolutionnews.orghtml_page.txt
news_channels/www.ewg.orghtml_page.txt
news_channels/www.faithpanda.comhtml_page.txt
news_channels/www.ff911truthandunity.orghtml_page.txt
news_channels/www.foodmatters.comhtml_page.txt
news_channels/www.freedomadvocates.orghtml_page.txt
news_channels/www.frontiersin.orghtml_page.txt
news_channels/www.genengnews.comhtml_page.txt
news_channels/www.geneticliteracyproject.orghtml_page.txt
news_channels/www.geoengineeringwatch.orghtml_page.txt
news_channels/www.globalhealingcenter.comhtml_page.txt
news_channels/www.godandscience.orghtml_page.txt
news_channels/www.godlikeproductions.comhtml_page.txt
news_channels/www.gotquestions.orghtml_page.txt
news_channels/www.greenpeace.orghtml_page.txt
news_channels/www.haarp.nethtml_page.txt
news_channels/www.healthline.comhtml_page.txt
news_channels/www.healthnutnews.comhtml_page.txt
news_channels/www.healthy-holistic-living.comhtml_page.txt
news_channels/www.hopkinsmedicine.orghtml_page.txt
news_channels/www.ihealthtube.comhtml_page.txt
news_channels/www.independentsciencenews.orghtml_page.txt
news_channels/www.infowars.comhtml_page.txt
news_channels/www.insidescience.orghtml_page.txt
news_channels/www.intellihub.comhtml_page.txt
news_channels/www.iop.orghtml_page.txt
news_channels/www.irena.orghtml_page.txt
news_channels/www.ispp.orghtml_page.txt
news_channels/www.israelislamandendtimes.comhtml_page.txt
news_channels/www.jesus-is-savior.comhtml_page.txt
news_channels/www.jesusdaily.comhtml_page.txt
news_channels/www.jstor.orghtml_page.txt
news_channels/www.legitgov.orghtml_page.txt
news_channels/www.livescience.comhtml_page.txt
news_channels/www.livestrong.comhtml_page.txt
news_channels/www.mayoclinic.orghtml_page.txt
news_channels/www.medicaldaily.comhtml_page.txt
news_channels/www.medicalnewstoday.comhtml_page.txt
news_channels/www.medicine.newshtml_page.txt
news_channels/www.medscape.comhtml_page.txt
news_channels/www.mentaldaily.comhtml_page.txt
news_channels/www.mercola.comhtml_page.txt
news_channels/www.mindbodygreen.comhtml_page.txt
news_channels/www.modernalternativemama.comhtml_page.txt
news_channels/www.nasa.govhtml_page.txt
news_channels/www.nationalgeographic.comhtml_page.txt
news_channels/www.naturalhealth365.comhtml_page.txt
news_channels/www.naturalnews.comhtml_page.txt
news_channels/www.nature.comhtml_page.txt
news_channels/www.ncbi.nlm.nih.govhtml_page.txt
news_channels/www.ncdc.noaa.govhtml_page.txt
news_channels/www.newsbud.comhtml_page.txt
news_channels/www.newscientist.comhtml_page.txt
news_channels/www.newstarget.comhtml_page.txt
news_channels/www.nextbigfuture.comhtml_page.txt
news_channels/www.nih.govhtml_page.txt
news_channels/www.noaa.govhtml_page.txt
news_channels/www.nowtheendbegins.comhtml_page.txt
news_channels/www.nvic.orghtml_page.txt
news_channels/www.paho.orghtml_page.txt
news_channels/www.peta.orghtml_page.txt
news_channels/www.plos.orghtml_page.txt
news_channels/www.pnas.orghtml_page.txt
news_channels/www.popsci.comhtml_page.txt
news_channels/www.popularmechanics.comhtml_page.txt
news_channels/www.prisonplanet.comhtml_page.txt
news_channels/www.prophecynewswatch.comhtml_page.txt
news_channels/www.prophecytoday.comhtml_page.txt
news_channels/www.psychologytoday.comhtml_page.txt
news_channels/www.psypost.orghtml_page.txt
news_channels/www.quackwatch.orghtml_page.txt
news_channels/www.quantamagazine.orghtml_page.txt
news_channels/www.realclearscience.comhtml_page.txt
news_channels/www.realclimate.orghtml_page.txt
news_channels/www.realfarmacy.comhtml_page.txt
news_channels/www.realjewnews.comhtml_page.txt
news_channels/www.realnews24.comhtml_page.txt
news_channels/www.rense.comhtml_page.txt
news_channels/www.researchgate.nethtml_page.txt
news_channels/www.scicentral.comhtml_page.txt
news_channels/www.sciencealert.comhtml_page.txt
news_channels/www.sciencebasedmedicine.orghtml_page.txt
news_channels/www.sciencedaily.comhtml_page.txt
news_channels/www.sciencehistory.orghtml_page.txt
news_channels/www.sciencemediacentre.orghtml_page.txt
news_channels/www.sciencenews.orghtml_page.txt
news_channels/www.scientificamerican.comhtml_page.txt
news_channels/www.seeker.comhtml_page.txt
news_channels/www.sgtreport.comhtml_page.txt
news_channels/www.skeptic.comhtml_page.txt
news_channels/www.skepticalraptor.comhtml_page.txt
news_channels/www.skeptiko.comhtml_page.txt
news_channels/www.skyandtelescope.comhtml_page.txt
news_channels/www.smithsonianmag.comhtml_page.txt
news_channels/www.societyforscience.orghtml_page.txt
news_channels/www.sott.nethtml_page.txt
news_channels/www.space.comhtml_page.txt
news_channels/www.stormfront.orghtml_page.txt
news_channels/www.technologyreview.comhtml_page.txt
news_channels/www.the-scientist.comhtml_page.txt
news_channels/www.theautomaticearth.comhtml_page.txt
news_channels/www.thecommonsenseshow.comhtml_page.txt
news_channels/www.thelibertybeacon.comhtml_page.txt
news_channels/www.thetrumpet.comhtml_page.txt
news_channels/www.thrivemovement.comhtml_page.txt
news_channels/www.trunews.comhtml_page.txt
news_channels/www.twisted.newshtml_page.txt
news_channels/www.ukcolumn.orghtml_page.txt
news_channels/www.universetoday.comhtml_page.txt
news_channels/www.vaccines.newshtml_page.txt
news_channels/www.vaccinesrevealed.comhtml_page.txt
news_channels/www.vermontindependent.orghtml_page.txt
news_channels/www.verywell.comhtml_page.txt
news_channels/www.veteranstoday.comhtml_page.txt
news_channels/www.wakingtimes.comhtml_page.txt
news_channels/www.webmd.comhtml_page.txt
news_channels/www.whatdoesitmean.comhtml_page.txt
news_channels/www.whatreallyhappened.comhtml_page.txt
news_channels/www.who.inthtml_page.txt
news_channels/www.worldaffairsbrief.comhtml_page.txt
news_channels/www.zerohedge.comhtml_page.txt
news_channels/www.zmescience.comhtml_page.txt
news_channels/www1.cbn.comhtml_page.txt
news_channels/x22report.comhtml_page.txt
